.wrap {
  width: 100%;
  height: 100%;
}

.modal {
  .infoSlideWrap {
    width: 100%;
    margin: 10px 0;
  }

  .followersModal {
    position: static;
    transform: none;

    .profile {
      width: 100%;
      min-width: auto;
    }

    .txt {
      text-align: center;
      margin-top: $h2;
    }

    strong + p {
      margin-top: 4px;
    }

    .comment {
      width: 100%;
    }
  }

  .selectedItemModal {
    font-size: 12px;
    font-family: "Pixelated MS Sans Serif", "돋움", Arial;
    left: $modal-md;
    transform: translate(-50%, -50%);
    z-index: 1;
    .contentTop {
      display: flex;
      justify-content: flex-start;
      gap: 5px;
      font-size: $h3;
      font-weight: 700;
    }
    .contentBody {
      line-height: 1.8;
    }
    .divider {
      margin: 20px 0;
    }
    img {
      max-width: 100%;
    }
  }
}

.iconWrap {
  display: inline-block;
  color: $color-white;
  font-size: $h5;

  .icon {
    margin: 10px 5px;
    text-align: center;
  }

  .btn {
    display: inline-block;
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 5px;
    &:active {
      box-shadow: none;
    }

    .btnImg {
      position: relative;
      width: 40px;
      height: 40px;
      margin: 0 auto;

      img {
        width: 100%;
        height: 100%;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("https://win98icons.alexmeub.com/icons/png/overlay_shortcut-1.png") left bottom / 32px no-repeat;
      }
    }
    .btnText {
      display: block;
      padding-top: 10px;
    }
  }
}

.contentDiv {
  margin: 20px;
}

.contentTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.profileWrap {
  width: inherit;
  margin-right: 5%;

  .profile {
    width: 25%;
    min-width: 100px;
  }

  .noImage {
    width: 25%;
    min-width: 100px;
  }
}

.infoWrap {
  width: 67%;
}

.profile {
  position: relative;
  border-radius: 100%;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 100%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    background-color: #fff;
  }
}

.noImage {
  height: 100%;

  &::after {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 100%;
    background-color: #e0e0e0;
  }
}

.countDiv {
  display: flex;
  align-items: center;

  div {
    flex: 3;
  }

  .count {
    font-size: $h3;
    font-weight: 700;
  }

  .text {
    padding-top: 0.2em;
    font-size: $h4;
  }
}

.btnDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;

  .btnFollowed {
    width: 100%;
    min-height: 30px;
    margin-right: 2%;
  }

  .btnArrow {
    position: relative;
    text-indent: -99999px;
    min-width: 30px;
    min-height: 30px;

    // 화살표 아이콘
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 12px;
      left: 10px;
      border-top: 5px solid $color-black;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
      transform: rotate(0);
    }
  }

  .isActive {
    &::after {
      top: 8px;
      transform: rotate(180deg);
    }
  }
}

.messageWrap {
  width: 100%;
  margin-top: 10px;

  p {
    font-size: $h4;
    display: block;
    & + p {
      margin-top: 5px;
    }
  }

  .title {
    font-weight: 700;
  }
}

.menuWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;

  .btn {
    width: 25%;
    min-height: 35px;
    font-size: 0;
    text-indent: -99999px;
    &TotalGrid {
      background: url("../assets/images/ico-total-grid.png") no-repeat center / auto 12px;
    }
    &TotalList {
      background: url("../assets/images/ico-total-List.jpg") no-repeat center / auto 12px;
    }
    &ContactUs {
      background: url("../assets/images/ico-contact-us.jpg") no-repeat center / auto 16px;
    }
    &Visitor {
      background: url("../assets/images/ico-visitor.jpg") no-repeat center / auto 16px;
    }
    &Home {
      background: url("../assets/images/ico-home.jpg") no-repeat center / auto 20px;
    }
    &Photo {
      background: url("../assets/images/ico-photo.jpg") no-repeat center / auto 20px;
    }
    &Speach {
      background: url("../assets/images/ico-speach.png") no-repeat center / auto 20px;
    }
    &Like {
      background: url("../assets/images/ico-like.jpg") no-repeat center / auto 20px;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.itemWrap {
  margin: 10px 0;
}

.imgDiv {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .img {
    position: relative;
    width: 33.3%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
}

.contWrap {
  padding: 20px 0;
}

.noContent {
  display: flex;
  align-items: center;
  justify-content: center;

  .text {
    text-align: center;
  }
}
