@import "_variable.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

html {
  min-width: $xl;
  background-color: $color-primary;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

span,
p {
  padding: 0;
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.divider {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #fcfcfc;
  border-top: 1px solid #000;
}

#root {
  height: 100%;
  min-height: 100vh;
}

.hid {
  position: absolute;
  display: none;
}

.wrap {
  width: 100%;
  height: 100%;
}

.iconWrap {
  display: inline-block;
  color: $color-white;
  font-size: $h5;

  .icon {
    margin: 10px;
    text-align: center;
  }

  .btn {
    display: inline-block;

    .btnImg {
      position: relative;
      width: 40px;
      height: 40px;
      margin: 10px auto;

      img {
        width: 100%;
        height: 100%;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("https://win98icons.alexmeub.com/icons/png/overlay_shortcut-1.png") left bottom / 32px no-repeat;
      }
    }
  }
}

.btnIcon {
  background: none;
  border: none;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
  padding: 0;

  &:not(:disabled).active,
  &:not(:disabled):active,
  &:focus {
    outline: none;
    outline-offset: 0;
    box-shadow: none;
  }
}

.title-bar {
  align-items: center;
}

.title-bar-text {
  display: flex;
  align-items: center;
  font-size: $h4;
  color: $color-white;
  margin-right: 0;

  .icon {
    width: 15px;
    height: 15px;
    margin-right: 0.5em;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.sm {
    width: $modal-sm;
  }

  &.md {
    width: $modal-md;
  }

  &.lg {
    width: $modal-lg;
  }

  .window-body {
    margin: 0;
    padding: 8px;
    max-height: 80vh;
    overflow-y: auto;
  }

  .content {
    &Title {
      font-size: $h3;
      text-align: center;
      margin: 30px 0;
    }
  }
}

.infoSlideWrap {
  width: 100%;
  margin: 10px 0;
}

.followersModal {
  position: static;
  transform: none;

  .profile {
    width: 100%;
    min-width: auto;
  }

  .txt {
    text-align: center;
    margin-top: $h2;
  }

  .comment {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.contentDiv {
  margin: 20px;
}

.contentTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;

}

.profileWrap {
  width: inherit;
  margin-right: 5%;

  .profile {
    width: 25%;
    min-width: 100px;
  }

  .noImage {
    width: 25%;
    min-width: 100px;
  }
}

.infoWrap {
  width: 67%;
}

.profile {
  position: relative;
  border-radius: 100%;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 100%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    background-color: #fff;
  }
}

.noImage {
  height: 100%;

  &::after {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 100%;
    background-color: #e0e0e0;
  }
}

.countDiv {
  display: flex;
  align-items: center;

  div {
    flex: 3;
  }

  .count {
    font-size: $h3;
    font-weight: 700;
  }

  .text {
    padding-top: 0.2em;
    font-size: $h4;
  }
}

.btnDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;

  .btnFollowed {
    width: 100%;
    min-height: 30px;
    margin-right: 2%;
  }

  .btnArrow {
    position: relative;
    text-indent: -99999px;
    min-width: 30px;
    min-height: 30px;

    // 화살표 아이콘
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 12px;
      left: 10px;
      border-top: 5px solid $color-black;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
      transform: rotate(0);
    }
  }

  .isActive {
    &::after {
      top: 8px;
      transform: rotate(180deg);
    }
  }
}

.messageWrap {
  width: 100%;
  margin-top: 10px;

  p {
    font-size: $h4;
    margin-bottom: 5px;


    &:last-child {
      margin-bottom: 0;
    }
  }

  .title {
    font-weight: 700;
  }
}

.menuWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;

  .btn {
    width: 25%;
  }
}

.itemWrap {
  margin: 10px 0;
}

.imgDiv {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .img {
    position: relative;
    width: 33.3%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
}

.noContent {
  display: flex;
  align-items: center;
  justify-content: center;

  .text {
    text-align: center;
  }
}