// color
$color-primary: #009092;
$color-white: #fff;

// font-size
$h1: 1.8em;
$h2: 1.5em;
$h3: 1.2em;
$h4: 1em;
$h5: 0.9em;
$h6: 0.8em;

// modal size
$modal-sm: 200px;
$modal-md: 400px;
$modal-lg: 600px;
